## Data Cleaning Lab I

For this lab, you will begin work on your 4th TLAB. The dataset for this lab is in the `../../data/shopping.csv` file. 

The goals for this process include:

* dropping rows with missing data
* dropping columns with overwhelmingly missing data

After you've completed this process, answer the questions underneath `Data Cleaning Lab II` in your own words.

In [10]:
import pandas as pd
import numpy as np

In [13]:
# TODO: load `data/raw/shopping.csv` as a pandas dataframe

df = pd.read_csv("../data/shopping.csv")
df.head()

,Customer ID,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,3475,NaN,Male,Jacket,30.904467,Maine,M,Burnt orange,Fall,4.0,Standard,No,0,Credit Card,NaN
1,3698,21.0,Female,Backpack,31.588259,NaN,L,Turquoise,Winter,2.0,Express,No,1,Credit Card,Monthly
2,2756,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,4.0,Standard,No,0,Credit Card,NaN
3,3340,NaN,Male,Pajamas,33.918834,Nebraska,M,Black,Winter,NaN,Standard,No,2,Credit Card,Bi-Weekly
4,3391,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,NaN,Standard,No,0,Credit Card,NaN

In [ ]:
# TODO: print out the shape of this dataframe for better clarity
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html

...

In [ ]:
# TODO: display how many null values are in each column of this dataframe
# Documentation: https://datatofish.com/count-nan-pandas-dataframe/

...

In [ ]:
# TODO: it looks like there is roughly 65% of data missing "Frequency of Purchases". Drop this column, as it is mostly empty and unneeded for our analysis.
# In addition, also drop "Customer ID" as this column is also unnecessary
# Reassign this dropped dataframe as a new variable
# Documentation: drive.google.com/drive/folders/1pAWY1JqIQw26uhtT272AoDDeq7jtbkm2

...

In [ ]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3900, 13)"

...

In [ ]:
# TODO: Display a histogram using the "Age" column

...

In [ ]:
# TODO: Display a histogram using the "Purchase Amount (USD)" column

...

In [ ]:
# TODO: Display a histogram using the "Review Rating" column

...

In [ ]:
# TODO: Display a histogram using the "Previous Purchases" column

...

## Data Cleaning Lab II

In the next section, answer a few questions regarding your dataset using the visualizations & output you've generated.

### Q1

What kind of distribution do we observe in the "Age" column? Do these outliers represent errors? Why or why not?

Answer here

### Q2

What kind of distribution do we observe in the "Purchase Amount (USD)" column? Do these outliers represent errors? Why or why not?

Answer here

### Q3

What kind of variable is the "Review Rating" column? Why does this variable-type make sense given the context of a review?

Answer here

### Q4

Using the "Previous Purchases" histogram, what do we notice about this distribution? Where are most values located? Do we notice any patterns?

Answer here

### Q5

Make an assumption on the typical shopper on this dataset. What is the typical shoppers Age, Purchase Amount, Review, and amount of Previous Purchases? Base your assumptions on your histograms.

Answer here