In [1]:
import numpy as np 
import pandas as pd

In [2]:
In [3]: s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD")) 
print(df)

NameError: name 'dates' is not defined

In [23]:
In [5]: dates = pd.date_range("20130101", periods=6)

print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df2 = pd.DataFrame(

    {

        "A": 1.0,

        "B": pd.Timestamp("20130102"),

        "C": pd.Series(1, index=list(range(4)), dtype="float32"),

        "D": np.array([3] * 4, dtype="int32"),

        "E": pd.Categorical(["test", "train", "test", "train"]),

        "F": "foo",

    }

)


print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [25]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [28]:
df.head()

                   A         B         C         D
2013-01-01 -1.097069  0.360987  1.723185 -1.064940
2013-01-02  0.308949  1.039574 -1.058805  0.977718
2013-01-03  0.164687 -1.075000  0.720885 -0.108839
2013-01-04 -0.466237 -0.007717  0.447120 -1.107071
2013-01-05  2.209170 -0.701231  0.449349  1.442130

In [29]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.466237 -0.007717  0.447120 -1.107071
2013-01-05  2.209170 -0.701231  0.449349  1.442130
2013-01-06 -0.142580  0.713131 -0.230661 -2.081432

In [30]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [31]:
df.to.numpy()

AttributeError: 'DataFrame' object has no attribute 'to'